/*ANCHOR - Fonts*/
@font-face{
    font-family: "IBM";
    src: url(../fonts/IBMPlexMono-Regular.ttf) format("truetype");
    font-weight: 400; 
    font-style: normal; 
    font-display: swap;
}


@font-face{
    font-family: "IBM";
    src: url(../fonts/IBMPlexMono-Italic.ttf) format("truetype");
    font-weight: 400; 
    font-style: italic; 
    font-display: swap;
}

@font-face{
    font-family: "IBM";
    src: url(../fonts/IBMPlexMono-ExtraLight.ttf) format("truetype");
    font-weight: 200; 
    font-style: normal; 
    font-display: swap;
}

@font-face{
    font-family: "IBM";
    src: url(../fonts/IBMPlexMono-ExtraLightItalic.ttf) format("truetype");
    font-weight: 200; 
    font-style: italic; 
    font-display: swap;
} 

/*ANCHOR - custom properties */
body{
    --color-black: #191919;
    --color-white: #e1e1e1;
    --color-grey: #979797;
    --color-green: #00ff00;
    --color-red: #fc1a52;
    --color-purple: #cb06d9;
    --color-yellow: #c1de04;
    --color-blue: #03bfee;

    --font: "IBM", monospace;
    --line: 3ch;
    --font-scale: 0.4vw;
}

/*ANCHOR - invert */
body.invert {
    --color-black: #dcdcdc;
    --color-white: #191919;
    --color-grey: #6e6e6e;
    --color-green: #1f864a;
    --color-red: #c61340;
    --color-purple: #9e02e1;
    --color-yellow: #e37e02;
    --color-blue: #0856af; 
}




/*ANCHOR - main style */
*{
    box-sizing: border-box;   
}

/* Formatierung body */
body {
    margin: 0;
    font-family:var(--font);
    font-weight: 400; 
    font-style: normal;
    font-size: calc(1rem + var(--font-scale)); 
    line-height: var(--line);
    color: var(--color-white); 
    background-color: var(--color-black);
}

/*ANCHOR - Anzeigegröße */
header, 
main, 
footer{
    width: 100%;
    max-width: 1260px;
    margin; 0 auto; 
    padding: 24px;
}

/*ANCHOR - content style */
/* Formatierung h1 tag */
h1 {
    color: var(--color-blue);
    /* font-size: calc(1.6rem + var(--font-scale)); */
    font-weight: 00; 
    line-height: var(--line);
    margin: 0;
}

/*ANCHOR - Format tag Typ "a" */
a {
    text-decoration: none;
}

/*ANCHOR - navigation */
nav > ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex.wrap: wrap; 
    gap: 8px; 
}

/*ANCHOR - link colors */

link-blue,
link-purple {
    cursor: pointer;
}
.link-blue {
    color: var(--color-blue);
}

.link-blue:hover {
    color: var(--color-black);
    background: var(--color-blue);
}

.link-purple {
    color: var(--color-purple);
}

.link-grey {
    color: var(--color-grey);
}

.link-purple:hover {
    color: var(--color-black);
    background: var(--color-purple);
}

/*ANCHOR - text colors */
.text-black {
    color: var(--color-black);
}

.text-white {
    color: var(--color-white);
}

.text-grey {
    color: var(--color-grey);
}
  
.text-green {
    color: var(--color-green);
}

#page-logo {
    font-style: italic;
}

/*ANCHOR - footer styles */
footer > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}